span {
    border: 1px solid black;
    background-color: lime;
}

[padding1="paddingleft"] {
    padding-left: 2em;
}

[padding2="paddingleft"] {
    padding-left: 4em;
}

[padding3="paddingleft"] {
    padding-left: 6em;
}

[padding4="paddingleft"] {
    padding-left: 8em;
}
h1 {
    border: 2px #0095dd;
    border-style: solid;
    text-shadow: 5px 5px 5px black;
    margin-left: 40%;
    margin-right: 40%;
    /*padding-left: 40%;
    padding-right:40%;*/
    color: red;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1));
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.5);
    text-align: center;
    background-clip: content-box;
    overflow: auto;
    display: inline-block;
}

#test_attachment {
    background-image: url("https://mdn.mozillademos.org/files/12057/starsolid.gif"), url("https://mdn.mozillademos.org/files/12059/startransparent.gif");
    background-attachment: local;
    background-repeat: no-repeat, repeat-y;
}

#test_attachment::first-letter {
    font-size: 2em;
    color: black;
    background-color: red;
    border: 1px black solid;
    padding: 2px;
    margin: 2px;
    float: left;

}

#border-box {
    background-clip: border-box;
}

#padding-box {
    background-clip: padding-box;
}

#content-box {
    background-clip: content-box;
}

.bkg {
    border: 5px navy;
    border-style: dotted double;
    margin: 2em;
    padding: 2em;
    background: #F8D575;
}

[data-vegetable] {
    color: green;
}

[data-vegetable="liquid"] {
    background-color: goldenrod;
}

[data-vegetable~="spicy"] {
    color: red;
}

[lang|="fr"] {
    font-weight: bold;
}

[data-quantity$="kg"] {
    font-weight: bold;
}

[data-vegetable*="not spicy"] {
    color:red;
}

a:hover {
    color:darkred;
    text-decoration: blink;
}

[href^=https]::after {
    content:'⤴';
}

.Title {
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.Content {
    position: absolute;
    top:70px;
    bottom: 0;
    overflow: auto;
}

div[property="form"] {
    width: 60px;
    height: 60px; 
    border: 20px solid rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin:20px 0;

    background-size    : 140px;
    background-position: center;
    background-image   : url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-color   : gold;
}

.default     { background-clip: border-box;  }
.padding-box { background-clip: padding-box; }
.content-box { background-clip: content-box; }
